VITE_SUPABASE_URL=https://nsaopwkikqmlqymlciat.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5zYW9wd2tpa3FtbHF5bWxjaWF0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU3MDQ0NDYsImV4cCI6MjA5MTI4MDQ0Nn0.RaxucWJqeHc5xe2rPEDXMy9tBYTQZ3lxzVwkUpf5qVo
